---
import ServicesCard from './ServicesCard.astro'

const cardList = [
	{
		title: 'Implementaciones de ArcXP',
		icon: '/images/icons/atoms.svg',
		text: 'Llevamos tu plataforma al pr칩ximo nivel con el cms de AWS posicionado como uno de los mejores a nivel mundial: ArcXP',
		href: '/implementations/',
	},
	{
		title: 'Desarrollos Frontend/Backend',
		icon: '/images/icons/web-dev.svg',
		text: 'Apis, microservicios y todo un universo de soluciones que pasan por detr치s para impulsar los resultados de tu organizaci칩n',
		href: '/development/',
	},
	{
		title: 'Automatizaci칩n e IA',
		icon: '/images/icons/orbits.svg',
		text: 'Transformamos procesos repetitivos y con altas posibilidades de error en tareas automatizadas con IA',
		href: '/automations/',
	},
	{
		title: 'Infraestructura',
		icon: '/images/icons/cloud.svg',
		text: 'Armamos la infraestructura cloud que tu empresa necesita, trabajando con providers como GCP o AWS',
		href: '/infrastructure/',
	},
	{
		title: 'Staff Augmentation',
		icon: '/images/icons/profile.svg',
		text: 'Tenemos la persona que tu equipo necesita ',
		href: '/augmentation/',
	},
]
---

<div class="mx-4 flex snap-x snap-mandatory gap-6 overflow-x-scroll">
	{cardList.map((card) => <ServicesCard className="snap-center snap-always" {...card} />)}
</div>
