---
import { Image } from 'astro:assets'

import ContactForm from '../components/ContactForm.astro'
import Layout from '../layouts/Layout.astro'
import Services from '../components/services/Services.astro'

import LinkedinLogo from '../assets/images/linkedin-logo.astro'
import joinUs from '../assets/images/join-us.jpg'
import aboutUs from '../assets/images/about-us.webp'
---

<Layout title="Ingala">
	<main>
		<section id="nosotros">
			<div class="items-center bg-lightGrey lg:flex lg:items-end">
				<div class="flex flex-col items-center pt-14 lg:max-w-[50%]">
					<h2
						class:list={[
							'rounded-full rounded-l-none border-2 border-l-0 border-solid border-blue',
							'mb-7 self-start px-9 py-3 pl-[30%] md:px-[10%] xl:pl-[20%]',
							'text-right font-poppins-600 text-4xl font-normal leading-relaxed tracking-tight text-darkGrey',
						]}
					>
						About us
					</h2>
					<div
						class="flex flex-col gap-5 px-4 font-roboto-300 text-mediumGrey md:px-[10%] lg:pl-[10%] lg:pr-4 xl:pl-[20%]"
					>
						<h3 class="font-roboto-400 text-xl leading-6 text-mediumGrey">
							Ser los mejores en lo que hacemos, es nuestro objetivo.
						</h3>
						<div>
							<div class="pb-5">
								<h3 class="font-roboto-400 text-lg leading-6">¿Cómo lo logramos?</h3>
								<p>Dando todo para lograr ese resultado que buscas.</p>
							</div>
							<p>
								Tenemos experiencia en desarrollo de software y web apps de alta concurrencia,
								habiendo realizado desarrollos de todo tipo: frontend, backend e infraestructura.
								Pero no solo somos buenos armando, somos buenos pensando. Nos apasiona crear
								soluciones que nadie haya creado, o tomar soluciones ya creadas y llevarlas al
								próximo nivel.
							</p>
						</div>
						<div>
							<h3 class="font-roboto-400 text-lg leading-6">
								Eres gigante y quieres seguir creciendo? Estas comenzando y quieres ser un gigante?
							</h3>
							<p>
								Nosotros te acompañamos para que logres esos objetivos que tu organización tiene en
								mente.
							</p>
						</div>
					</div>
					<div>
						<a
							href="#contacto"
							class:list={[
								'mx-auto my-8 mt-8 block w-fit rounded-md bg-blue px-24 py-2',
								'text-center font-roboto-500 text-button text-white',
							]}>Consúltanos</a
						>
					</div>
				</div>
				<div>
					<Image src={aboutUs} alt="nosotros" class="mx-auto" />
				</div>
			</div>
		</section>

		<Services />
		<ContactForm />
		<section id="trabaja">
			<div class="flex flex-col md:flex-row">
				<div>
					<Image
						src={joinUs}
						alt="Developer at work"
						class="h-full max-h-[596px] w-full max-w-[770px]"
					/>
				</div>
				<div
					class="flex w-full flex-col items-center justify-center gap-6 px-6 py-9 text-center text-blue md:max-w-[50%] md:gap-11"
				>
					<h2 class="max-w-xl font-poppins-600 text-4xl leading-relaxed lg:text-title">
						Súmate a nuestro team
					</h2>
					<p>Postúlate a nuestras búsquedas</p>
					<a
						class="flex items-center gap-6 rounded-md border border-blue py-2 pl-6 pr-12 font-roboto-500 text-button uppercase"
						href="https://www.linkedin.com/company/ingala-io/"
						target="_blank"
						rel="noopener noreferrer"
					>
						<LinkedinLogo />
						Búsquedas abiertas
					</a>
				</div>
			</div>
		</section>
	</main>
</Layout>
