---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="h-[1000px] w-full bg-pink"></div>
		<div id="section1" class="h-[1000px] w-full bg-darkGreen"></div>
		<div id="section2" class="h-[1000px] w-full bg-darkGrey"></div>
	</main>
</Layout>
