---
import Footer from '../components/Footer.astro'
import Masthead from '../components/Masthead.astro'

interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="mx-auto mt-16 min-w-80 max-w-1440 pt-[1px] font-roboto-400">
		<Masthead />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: 'Poppins-600';
		src:
			local(''),
			url('/fonts/Poppins-600-SemiBold.ttf') format('truetype');
	}
	@font-face {
		font-family: 'Poppins-700';
		src:
			local(''),
			url('/fonts/Poppins-700-Bold.ttf') format('truetype');
	}
	@font-face {
		font-family: 'Roboto-300';
		src:
			local(''),
			url('/fonts/Roboto-300-Light.ttf') format('truetype');
	}
	@font-face {
		font-family: 'Roboto-400';
		src:
			local(''),
			url('/fonts/Roboto-400-Regular.ttf') format('truetype');
	}
	@font-face {
		font-family: 'Roboto-500';
		src:
			local(''),
			url('/fonts/Roboto-500-Medium.ttf') format('truetype');
	}
	@font-face {
		font-family: 'Roboto-700';
		src:
			local(''),
			url('/fonts/Roboto-700-Bold.ttf') format('truetype');
	}
</style>
