---
interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: 'Poppins-600';
		src:
			local(''),
			url('/fonts/Poppins-600-SemiBold.ttf') format('truetype');
	}
	@font-face {
		font-family: 'Poppins-700';
		src:
			local(''),
			url('/fonts/Poppins-700-SemiBold.ttf') format('truetype');
	}
	@font-face {
		font-family: 'Roboto-300';
		src:
			local(''),
			url('/fonts/Roboto-300-Light.ttf') format('truetype');
	}
	@font-face {
		font-family: 'Roboto';
		src:
			local(''),
			url('/fonts/Roboto-400-Medium.ttf') format('truetype');
	}
	@font-face {
		font-family: 'Roboto-500';
		src:
			local(''),
			url('/fonts/Roboto-500-Medium.ttf') format('truetype');
	}
	@font-face {
		font-family: 'Roboto-700';
		src:
			local(''),
			url('/fonts/Roboto-700-Medium.ttf') format('truetype');
	}
</style>
